
/*** HEROE ***/

.hero {
    position: relative;
    background: linear-gradient(to bottom, #1f29338a , #1f29336f), url("https://images.unsplash.com/photo-1568781269551-3e3baf5ec909?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 150px;
    height: 35%;
    letter-spacing: 2px;
    /*border-radius: 0 0 90% 90%/0 0 30% 30%;*/
    z-index: 2;
  }
  
  .hero:before {
    content:'';
    position: absolute;
      top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-degradado-01);
    z-index: -1;
  }
    .hero h1 {
    font-size: 1rem;
    line-height: 1.3;
    }
    .hero h1 span {
    font-size: 2rem;
    color: var(--blanco);
    border-bottom: 3px solid var(--blanco);
    padding-bottom: 9px;
    line-height: 3;
    }
    
    .mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid var(--blanco);
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 50%;
    margin-left: -7px;
    }
    .mouse span {
    display: block;
    margin: 6px auto;
    width: 2px;
    height: 2px;
    border-radius: 4px;
    background: var(--blanco);
    border: 3px solid transparent;
    -webkit-animation-duration: 1s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: scroll;
    animation-name: scroll;
    }
    
    @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      transform: translateY(20px);
    }
    }
    @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    
    100% {
      opacity: 0;
      -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
      transform: translateY(20px);
    }
    }
  
    







.container__img__profile{
    margin-top: -350px;
    width: 100%;
/*
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-color: transparent;*/

    position: relative;
  }
  .profile_container{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    width: min(500px,100%);
    position: relative;
    z-index: 999;
  }
  .back{
    position: absolute;
    width: 50%;
    height: 50%;
    box-shadow: 10px 10px 0  #a200ffb1 , -10px -10px 0  #8d08d08f;
    border-radius: 50%;
    animation: rotate 9s infinite linear;
  }
  .profile{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    background-image: url(https://scontent.fmex3-3.fna.fbcdn.net/v/t39.30808-6/441459513_7516218868426157_8356273537291453991_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFMLOTL9_hBDAWFE_OJrGlrhKwM2qtbMB2ErAzaq1swHebLIxgBAld4uuD5u0TIS_LpTTqdioljVLzcRYD_OHZl&_nc_ohc=eu33oqPX_G8Q7kNvgHgnqQo&_nc_ht=scontent.fmex3-3.fna&oh=00_AYDdyjQYGYpF6XZhnHqvZ1pkSdIgOn4Az4Xsj9iTC1DbpA&oe=665170E8);
    background-size: 100%;
    background-position: center;
    transition: all 0.2s ease-in-out;
    position: relative;
  }
  .occupation{
  color: #8d08d0;
  }
  .profile:hover{
    background-size: 110%;
    box-shadow: 10px 10px 0  #8d08d0 , -10px -10px 0  #ff006f;
  }
  .profile_infos{
    text-align: center;
  }
  @keyframes rotate {
    to{
      transform: rotate(360deg);
    }
  }


 /***** GRID ****/


 .activity-section {
 position: absolute;
	padding-bottom: 100px;
   z-index: 9;
   top: -220px;

  }

  .activity-section h4{
	  font-size: 1rem;
	  font-weight: 500;
  }

  .activity-section p{
	  font-size: 1rem;
	  color: #fff;
	  font-weight: 500;
  }

  .activity-icon{
	  text-decoration: none;
	  transition: ease-in .2s;
	  max-width: 120px;
	  margin: 0 auto;
	  /*max-height: 120px;*/
  }
  .activity-icon:hover{
	transform: scale(1.2);
	transition: ease-in .2s;
  }

  .activity-content a{
	color: #fff;
  }
  .activity-bg-image {
	/*background-image: url("https://images.unsplash.com/photo-1620121692029-d088224ddc74?q=80&w=2232&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");*/
	color: #fff;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	padding-top: 19px;
	margin-bottom: 19px;
	position: relative;
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
	border-radius: 10px;
    background-color: #2d2c2c;
  }
  .activity-bg-image:before {
	content: "";
	/*background-color: #05418ab6;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0.75;
	border-radius: 10px;
  }
  .section-heading-white {
	color: #fff;
  }
  
  .section-heading {
	margin-bottom: 50px;
  }
  .section-heading h5 {
	color: #8d08d0;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	margin-top: 10rem;
	text-transform: uppercase;
    font-style: italic;
	display: inline-block;
  }
  .section-heading-white h2,
  .section-heading-white p {
	color: var(--blanco);
  }
  
  .section-heading h2 {
	font-size: 1.2rem;
	font-weight: 500;
	line-height: 1.1;
	/*text-transform: uppercase;*/
  }
  .title-icon-divider {
	color: var(--color-principal);
	line-height: 1;
	position: relative;
	margin-top: 25px;
	display: flex;
  }
  .text-center .title-icon-divider {
	justify-content: center;
  }
  .section-heading-white .title-icon-divider {
	color: var(--color-principal);
  }
  .title-icon-divider:before,
  .title-icon-divider:after {
	content: "....";
	display: inline-block;
	font-size: 37px;
	line-height: 0;
	letter-spacing: 3px;
  }
  .title-icon-divider [class*="fa-"] {
	font-size: 20px;
	margin-left: 10px;
	margin-right: 10px;
  }
  .activity-inner {
	display: flex;
	flex-wrap: wrap;
  }
  .activity-bg-image .activity-inner.row {
	margin-left: 0;
	margin-right: 0;
  }
  .activity-bg-image .activity-inner [class*="col-"] {
	padding-left: 0;
	padding-right: 0;
  }
  
  .activity-inner .activity-item {
	border: 1px solid var(--color-principal);
	text-align: center;
	padding: 15px;
  }
  .activity-bg-image .activity-item {
	border-width: 0 2px 0 0;
	/*color del borde*/
	border-color: var(--color-principal);
	margin-bottom: 0;
  }
  .activity-bg-image [class*="col-"]:last-child .activity-item {
	border-right: none;
  }
  @media (max-width: 991px) and (min-width: 768px) {
  .activity-bg-image [class*=col-]:nth-child(3) ~ [class*=col-] .activity-item {
	  border-bottom: none;
  }
	}
  @media screen and (max-width: 767px) {
  .activity-bg-image .activity-item {
	  border-width: 0 2px 2px 0;
  }
	}
  @media (max-width: 991px) and (min-width: 768px) { 
  .activity-bg-image .activity-item {
	  border-width: 0 1px 1px 0;
  }
  }
  @media (max-width: 991px) and (min-width: 768px) {
  .activity-bg-image [class*=col-]:nth-child(3) .activity-item {
	  border-right: none;
  }
	}
  @media screen and (max-width: 767px) { 
  .activity-bg-image [class*=col-]:nth-child(2n+2) .activity-item {
	  border-right: none;
  }
  }
  @media screen and (max-width: 767px) { 
  .activity-bg-image [class*=col-]:nth-child(4) ~ [class*=col-] .activity-item {
	  border-bottom: none;
  }
  }
  .activity-inner .activity-item .activity-icon {
	margin-bottom: 15px;
  }


  @media screen and (max-width: 991px) {
    

    
    .activity-section {
     

        z-index: 9;

      }
    }
 /**** TERMINA GRID ****/
